#main-container{
  margin-top: 6px;
}
#titleHeading{
  margin-left: 37%;
  margin-top: 2rem;
}
  
#navlist a:link{
  text-decoration: none;
}

#nav{
  background: #565151;
  list-style-type: none;
  height: 11%;
  min-height: 30px;
  border-radius: 6px;
}

#nav p{
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  font-size: 90%;
  font-weight: bold;
  text-decoration: none;
}

#nav a{
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  font-size: 90%;
  font-weight: bold;
  text-decoration: none;
}

#popup{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: white;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.98;
    display: none;
  

    min-width: 99%;
    min-height: 100vh;
    display: block;
    text-align:center
}

#leaderboardTable a:link {
  text-decoration: none;
}

#leaderboardTable a:visited {
  text-decoration: none;
}

img { 
  border: 2px solid #021a40;
}

#chatContainer {
  border: 2px solid #021a40;
  background: white;
  overflow-y:auto;
  min-height: 325px;
  max-height: 325px;
}


h6 {
  margin-left: 3vw;
  margin-bottom: 1rem;
}



form{
  margin-top: 3vh;
}