
<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<title>Tom Evaders</title>
	<meta name="description" content="">
	<meta name="author" content="">

	 <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script type="text/javascript" src="script.js" async=""></script>
	<script type="text/javascript" src="clientws.js" async=""></script>
	<script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
	
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/skeleton.css">
	<link rel="stylesheet" href="css/style.css">


</head>



<body style="background-color:#EEE;" onload="Init(); wsInit();">

	<div id="wsApp">

		<div class="nav section">
			<div class="container" >  
				<div class="row" id="nav" style="margin-top: 3px;">
					<p class="two columns" onclick="showGame()" style="color:white">Play Now</p>
					<a class="two columns" href="/leaderboards.html" style="color:white">Leaderboards</a>
					<a class="two columns" href="/chat.html" style="color:white">Chat</a>
					<a class="two columns" href="/index.html" style="color:white">Login</a>
					<a class="two columns" href="/about.html" style="color:white">About</a>
				</div>
			</div>
		</div>


		<div id="main">


		<div class="join room section" style="margin-top: 3px;">
			<div class="container">  

				<input type="text" name="joinRoom" id="chatRoomInput" placeholder="Chat room name" value="">
				
				<button class="two columns" @click="updateRoom">Join</button>
				<h4 class="u-pull-right">Chatroom: {{clientGroup}}</h3>
			</div>
		</div>

		<div class="chat section">
			<div class="container">  
				<div id="chatContainer" style="margin-top: 4px;">
					<h5 style="text-align: center;"><b>Chat</b></h5>
					<!-- <h6><b>Joe:</b> Example message</h6> -->
					<h6 v-for="message in chat_messages"><b>{{message[0]}}:</b> {{message[1]}}</h6>
				</div>

				<label>Message</label>
				<textarea class="eight columns" placeholder="Hey there" v-model="new_message" id="exampleMessage"></textarea>
				<button class="two columns" @click="sendMessage">Send</button>
			</div>
		</div>

		</div>


		<div class="footer section">
			<div class="container" >  
			 <footer id="nav" style="padding-left:2%; text-align: center">
				<p style="color:white; padding-top: 8px;">Tom Evaders</p>
			</footer>
			</div>
		</div>


</div>

</body>
</html>
