
<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<title>Tom Evaders</title>
	<meta name="description" content="">
	<meta name="author" content="">

	 <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script type="text/javascript" src="script.js" async=""></script>
	<script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
	
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/skeleton.css">
	<link rel="stylesheet" href="css/style.css">


</head>



<body style="background-color:#EEE;" onload="Init(); fillTable();">

<div id="app">

<div class="nav section">
	<div class="container" >  
		<div class="row" id="nav" style="margin-top: 3px;">
			<p class="three columns" onclick="showGame()" style="color:white">Play Now</p>
			<a class="three columns" href="/leaderboards.html" style="color:white">Leaderboards</a>
			<a class="three columns" href="/index.html" style="color:white">Sign in</a>
		</div>
	</div>
</div>


<div class="register section">
	<div class="container" > 

		<div class="u-pull-right five columns" v-if="cookieTrue">
			Logged in as <b>{{username}}</b> <a id="logout" onclick="logout();" href="#">(Logout)</a>
		</div>

		<button v-else class="u-pull-right" onclick="showPopup()">
		  Register
		</button>

	</div>
</div>

<div id="popup" style="display: none;">
		<button onclick="closePopup()">Close</button>

		<h2 style="display: center;">Register</h2>
		
		    <div class="offset-by-three six columns">
		      <label for="username">Username</label>
		      <input class="u-full-width" name="username" type="text" v-model="username" placeholder="AlienSlayer">
		    </div>
		    <div class="offset-by-three six columns">
		      <label for="password">Password</label>
		      <input class="u-full-width" name="password" type="password" type="text" v-model="password" placeholder="Password">
		      </select>
		    </div>

		    <div class="offset-by-four four columns" v-bind:style="text_color">{{register_status}}</div>


		  <div class="twelve columns" style="text-align: center;">
		  	<button @click="register" class="button-primary">Submit</button> 
		  </div>
</div>

<div class="table section" id="main" onload="fillTable();" style="margin-top: 3vh; margin-bottom: 2vh;">
	<div class="container">
		<table class="offset-by-two eight columns">
		  <thead>
		    <tr>
		      <th>Username</th>
		      <th>Score</th>
		    </tr>
		  </thead>
		  <tbody id="leaderboardBody">
		  </tbody>
		</table>
	</div>
</div>







<div class="footer section">
	<div class="container" >  
	 <footer id="nav" style="padding-left:2%; text-align: center">
		<p style="color:white; padding-top: 8px;">Tom Evaders</p>
	</footer>
	</div>
</div>


</div>

</body>
</html>
